.com-icone {
    position: relative;
}

.com-icone::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    background-size: 50% 50%;
    background-position: center;
    width: 2em;
    height: 2em;
    background-color: #666;
    background-repeat: no-repeat;
}

.com-icone+input {
    width: calc(100% -2em);
    position: relative;
    left: 2em;
}

label[for="nome"]::after {
    background-image: url(../imagens/usuario.png);
}

label[for="email"]::after {
    background-image: url(../imagens/email.png);
}

legend,
label[for="mensagem"] {
    font-weight: bold;
    margin-top: 1em;
}

label[for] {
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    /* Força o navegador a usar a mesma font da página  */
    font-family: inherit;
    /* Inclusive o tamanho dela */
    font-size: 100%;
    padding: .25em .5em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
}


/* ajustes do campo "outros": deixar ele na mesma linha dos outros assuntos */

fieldset>fieldset {
    display: inline;
}


/* deixar o rótulo do campo outros inline de novo */

label[for="outro"] {
    display: inline;
}


/* deixar só o input para "outro-assunto" sem ocupar a tela toda */

input[name="outro-assunto"] {
    width: auto;
}

input:focus,
textarea:focus {
    background-color: #ffd;
}

input:invalid {
    box-shadow: 0 0 3px red;
}

button {
    border: 0;
    padding: .5em 1em;
    font-family: "Open Sans Condensed", sans-serif;
    background-color: #3c1d3d;
    color: white;
    font-size: 1.2em;
    /* faz com que o botão apareça na direita */
    margin-left: auto;
    margin-top: 1em;
    display: block;
}

button:hover,
button:focus {
    background-color: #8c1d3d;
}

input[value="Outro"]~input {
    display: none;
}

input[value="Outro"]:checked~input {
    display: inline;
}